.list {
    list-style: none;
    display: flex;

    li {
        width: 200px;
        margin: 1rem;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}